@charset "UTF-8";
/* CSS Document */

#terninger {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 700px;
}

.myDice {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
